div {
	box-sizing: border-box;
}

.board {
margin:auto;
margin-top:233px;
margin-bottom:233px;
width:450;
background-image: url("http://blog.napc.com/Portals/10319/images/clouds.jpg");}

.row2 .col {
	border-top-color:black;
	border-top-style:solid;
	border-bottom-color:black;
	border-bottom-style:solid;
	}



.col {
	height:150px;
	width:150px;
	display: inline-block;
/*	border: 1px solid black;
*/}

.col2 { 
	border-right-color: black;
	border-right-style: solid;
	border-left-color: black;
	border-left-style: solid;
}

